* {
    margin:0;padding:0;
}

header {
    width:100%;
    padding:15px 0;
    margin:0 auto;
    text-align:center;

}

.header_list {
    text-align:center;
    padding:7px 0;
    margin:0 auto;
}

.list_item {
    list-style: none;
    display:inline-block;
    margin:0 15px;
    
}

.short_message {
    font-size :13px;
    color:rgb(175, 239, 197)
}
#delete {
    float:right;
}
.short_message {
    display:none;
}

.slide-items {
    padding:0 10px;
    display: inline-block;
}


.slide-items-wrap {
    width: 50%;
  height: 50%;
    margin:auto;
}
