* {
    margin:0;padding:0;
}

body {
    padding-top:3px;
    text-align:center;
}
h1 {
    float:left;
    
    cursor: pointer;
    cursor: hand;
}

.header_deputyitem {
    padding-top:50px;
}

header {
    opacity:0.9;
    z-index: 1;
    width:100%;
    padding:15px 0;
    margin:0 auto;
    
    position:fixed;
    background-color:rgb(198, 245, 250);
}

.list_item {
    cursor: pointer;
    cursor: hand;
}


#delete {
    margin-right:150px
}


#photo img {
    height:450px;
    margin-top:100px;
}

.header_list {
    text-align:center;
    padding:7px 0;
    margin:0 auto;
}

.list_item {
    list-style: none;
    display:inline-block;
    margin:0 15px;
    
}

.short_message {
    
    font-size :13px;
    color:rgb(13, 137, 56)
}
#delete {
    float:right;
}
.short_message {
    display:none;
}

.slide-items {
    padding:0 10px;
    display: inline-block;
}


.slide-items-wrap {
    width: 50%;
  height: 50%;
    margin:auto;
}

.slider {
    visibility: hidden;
    
}
.slider img {
    
    width:100%;
}

.slider.slick-initialized {
    visibility: visible;
}

.slick-prev, .slick-next {
    z-index:1;
}
.slick-next {
    right: 10px;
}

.slick-prev {
    left: 10px;
}



