* {
    margin:0;padding:0;
}

header {
    width:100%;
    padding:15px 0;
    margin:0 auto;
    text-align:center;
    
}

.header_list {
    text-align:center;
    padding:7px 0;
    margin:0 auto;
}

.list_item {
    list-style: none;
    display:inline-block;
    margin:0 15px;
    
}

